@{
    ViewBag.Title = "About";
}


<center><H1>About File Repository</H1></center>
<center><img src="~/Content/divider.png" /></center>


<div class="section">
    <h2> A fast and easy way to download, edit and share.....</h2>
</div>

<center><img src="~/Content/divider1.png" /></center>

<div class="section">
    <h2> Feel right at home with desktop like navigation of files/folders...</h2>
    <center><img src="~/Content/About1.jpg" /></center>
</div>

<center><img src="~/Content/divider1.png" /></center>

<div class="section">
    <h2> Users can get an easy look at multiple files in a folder .....</h2>
    <center><img src="~/Content/About2.jpg" /></center>
</div>

<center><img src="~/Content/divider1.png" /></center>

<div class="section">
    <h2> Developers can upload files and create new folders for organizing.....</h2>
    <center><img src="~/Content/About3.jpg" /></center>
</div>

<center><img src="~/Content/divider1.png" /></center>

<div class="section">
    <h2> Files can be linked by adding dependencies.....So, when downloading all relveant files can also be downloaded</h2>
    <center><img src="~/Content/About4.jpg" /></center>
</div>

<center><img src="~/Content/divider1.png" /></center>

<div class="section">
    <h2>Many more nifty features which will help you collaborate and organize better.....</h2>
</div>

<style>
    div.section {
        margin-left: auto;
        margin-right: auto;
        width: 80em;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        padding: 15px 4px 17px 0;
        text-align: center;
        background: #fff;
    }
</style>
