@{
    ViewBag.Title = "Contact";
}


<center><h1>Contact Us</h1></center>
<hr />


<h2>
    For any assistance or queries contact:-
</h2>

<address>
    110 WestCott Street<br />
    Syracuse, NY 13210<br />
    <abbr title="Phone"></abbr>
    315-728-0088
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:alarya@syr.edu">alarya@syr.edu</a><br />
</address>